@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome</h1><br /> <p>Please sign in on the left to use the Bug Tracker application.<br />
                                                    Demo account login details are provided once you click "sign in"<br /> 
                                                    under the "Log in" dropdown" to the left.
    </p>
</div>
